<html>
	<head>
		<title>Shipper</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="title" content="Shipper" />
		<meta property="description" content="A lovely place" />
		<meta name="theme-color" content="#cc0000" />

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
			rel="stylesheet"
		/>

		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>
		<div class="container h-100">
			<div class="row h-75 align-items-center">
				<div class="col">
					<h1 class="text-center">Welcome to Shipper</h1>
					<p class="text-center h5 lead">A place to ship people</p>
					<div class="text-center">
						<a class="btn discord-button p-2 m-3" href="<%= oauthLink %>">
							Sign in with Discord to start
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
