<html>
	<head>
		<title>Shipper</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="title" content="Shipper" />
		<meta property="description" content="A lovely place" />
		<meta name="theme-color" content="#cc0000" />

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
			rel="stylesheet"
		/>

		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="mt-5">Welcome <%- include('partials/user') %>!</h1>
					<form method="POST" action="/logout">
						<input type="submit" class="btn btn-primary" value="Log out" />
					</form>
					<p class="mt-5">
						You currently have <%= user.shipping.length %> ship<%=
						user.shipping.length === 1 ? "" : "s" %>
					</p>

					<a href="/ship" class="btn btn-primary mt-5">Ship someone!</a>
				</div>
			</div>
		</div>
	</body>
</html>
