body {
  background-color: #2d2d2d;
  color: white;
  font-family: "Andika New Basic", sans-serif;
}

.discord-button {
  background-color: #7289da;
  color: white;
  border-radius: 1px;
}

.discord-button:hover {
  color: #d2dbe0;
}

img.rounded-circle {
  max-width: 64px;
}